header {
    width: 100%;
    padding : 20px;
    background-color: rgb(39, 80, 104);
    font-family: 'Anton', sans-serif;
    font-family: 'Oswald', sans-serif;
    margin: 0;

}
.header {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    color: rgb(231, 230, 231);
    margin: auto;
}
.finds {
    color: rgb(194, 192, 188);
}
.font {
    color: rgb(206, 208, 211);
    padding: 3px;
}
.header-text {
    line-height: 1.6;
    font-family: 'Montserrat', sans-serif;
    color: rgb(170, 195, 216);
}
spam {
    color: rgb(204, 203, 202);
}

@media (min-width: 600px) {
  header {
    width: 80%;
    margin: auto;
   } 

  } 